<div class="padder">

	{{> organisms-directory-title }}

	{{> organisms-directory-filters }}

	<div id="{{ directoryType }}-dir-list" class="{{ directoryType }} dir-list dir-list-boxed">
		<div class="{{ directoryType }}-pagination pagination pagination-boxed">
			<div class="pag-count">
				<div class="directory-pagination-message">{{ paginationText }}</div>
			</div>

			{{> molecules-order-by-dropdown directoryType=directoryType }}
		</div>

		<ul id="{{ directoryType }}-list" class="item-list" role="main">
			{{#each dirItems}}
			<li class="odd private {{ directoryTypeSingular }}-has-avatar item">
				<div class="item-avatar" aria-hidden="true">
					<img loading="lazy" src="{{ avatarUrl }}" data-src="{{ avatarUrl }}" class="{{ avatarClass }}" width="50" height="50" alt="Group logo of {{ itemName }}">
				</div>

				<div class="item-details">
					<div class="item-title">
						<a href="{{ itemUrl }}">{{ itemName }}</a>
					</div>

					<div>
						<span class="activity">active <span>{{ activeSince }}</span></span>

						<div class="item-description"><p>{{ itemDescription }}</p></div>
					</div>
				</div>

				<div class="item-actions">
					<div class="item-actions-buttons"> </div>

					<div class="meta">
						Private Group / 11 members
					</div>
				</div>
			</li>
			{{/each}}
		</ul>

		<div id="pag-bottom" class="pagination">

			<div class="pag-count" id="group-dir-count-bottom">{{ paginationText }}</div>

			<div class="pagination-links" id="group-dir-pag-bottom">
				<span aria-current="page" class="page-numbers current">1</span>
				<a class="page-numbers" href="?grpage=2&amp;num=20">2</a>
				<span class="page-numbers dots">…</span>
				<a class="page-numbers" href="?grpage=76&amp;num=20">76</a>
				<a class="next page-numbers" href="?grpage=2&amp;num=20">→</a>
			</div>

		</div>
	</div><!-- #groups-dir-list -->

</div><!-- .padder -->
