<div class="directory-nav-tabs" role="navigation">
	<ul>
		<li class="selected" id="{{ directoryObject }}-all">
			<a href="{{ directoryUrl }} ">{{ allItems }} <span>{{ allItemsTabCount }}</span></a>
		</li>

		<li class="" id="{{ directoryObject }}-all">
			<a href="{{ directoryUrl }} ">{{ myItems }} <span>{{ myItemsTabCount }}</span></a>
		</li>
	</ul>
</div><!-- .directory-nav-tabs -->

